.App {
  text-align: center;
}

body {
  padding-top: 5rem;
}

.card:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
}
.card-img, .card-img-bottom, .card-img-top {
  height: 12rem;
}
